<p> sign up for &#60;%= scriptBook %&#62; </p>

<form action="/signup" method="post">

	<div>
	    <label>Username:</label>
	    <input type="text" name="name" value="dustin" /><br/>
	</div>

        <div>
	    <label>Display Name:</label>
	    <input type="text" name="displayName" value="Dustin John Pfister" /><br/>
	</div>

        <div>
            <label>DOB:</label>
            <input type="" name="dob_month" value="4"><input type="" name="dob_day" value="6"><input type="" name="dob_year" value="1983"><br/>
        </div>

	<div>
	    <label>Password:</label>
	    <input type="password" name="password" value="123" />
	</div>

	<div>
	<input type="submit" value="Submit"/>
	</div>

</form>