<div>
    <p> User Profile! </p>
    <ul>
       <li> username: <span> <%= name %> </span>  </li>
       <li> display name: <span> <%= displayname %> </span>  </li>
       <li> id: <span> <%= id %> </span>  </li>

    </ul>
</div>