body{

    padding: 50px;


}
.content-container{

   padding: 25px;

}

/* GRID */

.col-md-8{

}

.col-md-4{

}

/* login.ejs */

.login_welcome{

    margin:10px;
    padding: 10px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    background: grey;
    min-height: 300px;

}

.login_welcometo{

    font-family: arial;
    font-size: 10pt;

}

.login_logo{

   font-family: courier;
   font-size:26pt;
   
}

.login_message{

    font-family: courier;
    font-size: 8pt;
    font-style: italic;
    text-align:left;

}

.login_loginform{

    margin:10px;
    padding: 10px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;

}


/* INDEX VIEW CLASSES */

/* POSTS */
.post_info{

    font-size: 10px;
    font-family: courier;

}

#wall_newpost{

    margin-bottom:100px;

}

#wall_newpost_say{

    

}

#wall_newpost_quickcanvas{

    display:none;

}

.wall_newpost_quickcanvas_icon_small{

    width:64px;
    height:64px;
    background:black;

}

.wall_newpost_quickcanvas_code{

    width:320px;
    height:240px;

}

.wall_newpost_quickcanvas_iframe{

    width:320px;
    height:240px;

}

.post_container{
    padding: 10px;
    background: #afafaf;
    margin-bottom: 10px;

}

#say_container{
  
  /*display:none;*/
  
}


/* quick canvas*/

.quickcanvas_image_large{

    width:320px;
    height:240px;

}

.quickcanvas_image_small{

    width:64px;
    height:64px;

}

.quickcanvas_container{

}

.quickcanvas_content{

    display: none;

    width: 640px;
    margin-left:auto;
    margin-right:auto;
}

.quickcanvas_code{

    width:320px;
    height:240px;
}

.quickcanvas_iframe{
    
    
    
    outline: 2px solid #0000ff;
    border: 0px;
    width:320px;
    height:240px;
    overflow: hidden;

}

.quickcanvas_icon_large{

    display:block;

    width:320px;
    height:240px;
    background: #ff0000;
    margin-left:auto;
    margin-right:auto;
}

.quickcanvas_icon_small{

    display:none;

    width:64px;
    height:64px;
    background: black;
   
}



.quickcanvas_controls{

    display:none;
    
    width: 640px;

    margin-left:auto;
    margin-right:auto;
}


/*  NEW POSTTYPE! delete older stuff */
.posttype_inactive_interface{

    display:none;

}

.posttype_active_interface{

    display:block;

}
