body{

    padding: 50px;


}

.content-container{

   padding: 25px;

}



/* INDEX VIEW CLASSES */

/* POSTS */
.post_info{

    font-size: 10px;
    font-family: courier;

}

#wall_newpost{

    margin-bottom:100px;

}

#wall_newpost_say{

    

}

#wall_newpost_quickcanvas{

    display:none;

}

.wall_newpost_quickcanvas_icon_small{

    width:64px;
    height:64px;
    background:black;

}

.wall_newpost_quickcanvas_code{

    width:320px;
    height:240px;

}

.wall_newpost_quickcanvas_iframe{

    width:320px;
    height:240px;

}

.post_container{
    padding: 10px;
    background: #afafaf;
    margin-bottom: 10px;

}

#say_container{
  
  /*display:none;*/
  
}


/* quick canvas*/

.quickcanvas_container{

}

.quickcanvas_content{

    display: none;

    width: 640px;
    margin-left:auto;
    margin-right:auto;
}

.quickcanvas_code{

    width:320px;
    height:240px;
}

.quickcanvas_iframe{
    
    
    
    outline: 2px solid #0000ff;
    border: 0px;
    width:320px;
    height:240px;
    overflow: hidden;

}

.quickcanvas_icon_large{

    display:block;

    width:320px;
    height:240px;
    background: #ff0000;
    margin-left:auto;
    margin-right:auto;
}

.quickcanvas_icon_small{

    display:none;

    width:64px;
    height:64px;
    background: black;
   
}



.quickcanvas_controls{

    display:none;
    
    width: 640px;

    margin-left:auto;
    margin-right:auto;
}
